*.sw?
.#*
*#
*~
.classpath
.project
.settings
.flattened-pom.xml
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
*.log
*.gfs
*.idea
logs/**
buildNumber.properties
versions.properties
**/.DS_Store
/.idea/
*.egg-info
/logs/
build/
dist/
*.egg-info/
__pycache__/
venv/
.venv/
.pytest_cache/
crdb_dump_output/
tmp/
resume.json
resume/

# cockroach single-node aux output
heap_profiler/
cockroach-data/
site/

# mkdocs-material build cache (social cards, etc.)
.cache/
